.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.content
{
  padding-bottom: 16px;
  margin-bottom: 20px;
}
.del
{
  color: #ff3434;
}
.content
{
width: 400px;
height: 450px;
position: relative;
}
.im{
  height: 300px;
}
