<app-sidenav></app-sidenav>
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Actes</div>
  <div class="page__content shadow p-3 position-relative"><div class="conten">
    <div class="text-center">
      <table border="0" class="content">
        <mat-grid-list cols="3" rowHeight="3:1">

            <tr *ngFor= "let a of actes" >
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>

                  <mat-card-title>{{a.titre}}</mat-card-title>
                  <mat-card-subtitle>{{a.id}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://www.ledgerinsights.com/wp-content/uploads/2019/09/charity-810x476.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <p>
                    {{a.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn" (click)="ondelete(a.id)"><mat-icon class="btn del">delete</mat-icon></button>
                </mat-card-actions>
              </mat-card>

              </tr>


        </mat-grid-list>

      </table>

    </div></div>
  </div>
</div>
