<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      <h1>Delete User</h1>
      <div *ngIf="cid">
        <strong>Are you sure to delete user {{cid}}?</strong> <br><br>
        <button class="btn btn-primary" (click)="valider()">Yes</button>&nbsp;
        <button class="btn btn-secondary"(click)="annuler()">No</button>
      </div>    </div>
  </div>
</div>


