<app-sidenav></app-sidenav>
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Donateurs</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
    </div>

    <br><br>

    <table border=1>
      <tr>
      <th>cid</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Mail</th>
      <th>Motdepasse</th>
      <th>Action</th>



      </tr>
      <tr *ngFor= "let a of users" >
        <td>{{a.cid}}</td>
        <td>{{a.role}}</td>
        <td>{{a.phone}}</td>
        <td>{{a.mail}}</td>
        <td>{{a.password}}</td>
        <td>
        <mat-icon class="btn del" (click)="ondelete(a.cid)">delete</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon class="btn edi" (click)="updateU(a)">update</mat-icon>
        </td>


      </tr>
      </table>

  </div>



<!-- Modal -->
<div class="modal fade userdia" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999;background: rgb(0 0 0 / 54%);">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-titlee" id="exampleModalLabel">Add Donateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" palceholder="email" id="inputEmail4">
          </div>
          <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>


          <div class="col-md-12">
            <label for="inputState" class="form-label">Role</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>Admin</option>
              <option>Donateur</option>
              <option>Association</option>

            </select>
          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
