<app-sidenav></app-sidenav>
<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Admin</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      Users Content Goes Here
    </div>
<button class="btn btn-success">Add New User</button><br><br>
    <table border=1>
      <tr>
      <th>cid</th>
      <th>Role</th>
      <th>Mail</th>
      <th>Motdepasse</th>
      <th>Action</th>


      </tr>
      <tr *ngFor= "let a of lesadmins" >
        <td>{{a.cid}}</td>
        <td>{{a.role}}</td>
        <td>{{a.mail}}</td>
        <td>{{a.password}}</td>
        <td>
        <a><mat-icon>delete</mat-icon></a>&nbsp;&nbsp;&nbsp;
        <a><mat-icon>create</mat-icon></a>
        </td>


      </tr>
      </table>






  </div>
</div>
