

<app-sidenav></app-sidenav>




<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Users</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">

    </div>
    <button type="button" class="btn btn-success" (click)="addU()">
      Add New User
    </button>

    <br><br>

    <table border=1>
      <tr>
      <th>cid</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Mail</th>
      <th>Motdepasse</th>
      <th>Action</th>



      </tr>
      <tr *ngFor= "let a of users" >
        <td>{{a.cid}}</td>
        <td>{{a.role}}</td>
        <td>{{a.phone}}</td>
        <td>{{a.mail}}</td>
        <td>{{a.password}}</td>
        <td>
          <mat-icon class="btn del" (click)="ondelete(a.cid)">delete</mat-icon>&nbsp;&nbsp;&nbsp;
          <mat-icon class="btn edi" (click)="updateU(a)">update</mat-icon>
        </td>


      </tr>
      </table>

  </div>












