.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: rgb(10, 10, 10);
    font-size: 1rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
table{
  margin-right: 100%;
}
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap";
* {
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', 'Verdana', sans-serif;
	display: flex;
	align-items: center;
	padding: 1.25em;
	min-height: 100vh;
	color: #444;
}
table {
	width: 100%;
	border-spacing: 0;
	border-radius: 1em;
	overflow: hidden;
}
thead {
	visibility: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
th {
	background: #215A8E;
	color: #fff;
	padding: 1em;
}
td {
	&:nth-child(1) {
		background: #215A8E;
		color: #fff;
		border-radius: 1em 1em 0 0;
	}
	padding: 1em;
	display: block;
	position: relative;
	&::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		padding-left: 1em;
		font-weight: 600;
		font-size: .9em;
		text-transform: uppercase;
	}
	&:nth-child(n+2) {
		&:nth-child(odd) {
			background-color: #ddd;
		}
	}
}
tr {
	display: block;
	margin-bottom: 1.5em;
	border: 1px solid #ddd;
	border-radius: 1em;
	text-align: right;
	&:last-of-type {
		margin-bottom: 0;
	}
}
@media only screen and (min-width: 768px) {
	table {
		max-width: 1200px;
		margin: 0 auto;
		border: 1px solid #ddd;
	}
	thead {
		visibility: visible;
		position: relative;
	}
	th {
		text-align: left;
		text-transform: uppercase;
		font-size: .9em;
	}
	tr {
		display: table-row;
		border: none;
		border-radius: 0;
		text-align: left;
		&:nth-child(even) {
			background-color: #ddd;
		}
	}
	td {
		display: table-cell;
		&::before {
			content: none;
		}
		&:nth-child(1) {
			background: transparent;
			color: #444;
			border-radius: 0;
		}
		&:nth-child(n+2) {
			&:nth-child(odd) {
				background-color: transparent;
			}
		}
	}
}
.e
{
  color: #1e293b;
}
.del
{
  color: #ff3434;
}
.edi{
  color: #3b75d1;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 150%;
}

mat-drawer {
  background: #0f172a;
}
