

<mat-nav-list>

  <table>
    <tr>
      <th>
        <div class="logo py-1">
          <img src="./assets/Logo.png" alt="Company Logo" />
        </div>
      </th>
      <th>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon> Dashboard
  </a></th><th>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
    <mat-icon>face</mat-icon>Users
  </a></th><th>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/donateur">
    <mat-icon>face</mat-icon>Donateurs
  </a></th><th>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/association">
    <mat-icon>face</mat-icon>Associations
  </a></th><th>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/act">
    <mat-icon>assignment</mat-icon> Actes
  </a></th>
  <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
  <th >
    <app-header></app-header>
  </th>
</tr>
</table>

</mat-nav-list>
