/* You can add global styles to this file, and also import other style files */

mat-drawer.mat-drawer.ng-tns-c83-0.ng-trigger.ng-trigger-transform.mat-drawer-side.mat-drawer-opened.ng-star-inserted {
  z-index: 1;
}
.modal-backdrop.fade.show {
  display: none;
}

