
          <div class="modal-header"><h3 class="title">Edit User </h3>
            <button type="button" class="btn-close" (click)="closee()"></button>
          </div>
          <div>
            <br>
              <form  #f="ngForm" (ngSubmit)="UpdateMethode(f)">

                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label e">Email</label>
                  <input type="email" class="form-control e" placeholder="email" id="inputEmail4" name="mail" [ngModel]="data.mail" ngModel>
                </div><br>

                <div class="col-md-12">
                  <label for="inputPassword4" class="form-label e">Password</label>
                  <input type="password" class="form-control e" placeholder="password" id="inputPassword4" name="password" [ngModel]="data.password" ngModel>
                </div><br>
                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label e">Phone</label>
                  <input type="email" class="form-control e" placeholder="phone" id="inputEmail4" name="phone" [ngModel]="data.phone" ngModel>
                </div><br>

                <div class="col-md-12">
                  <label for="inputState" class="form-label e">Role</label>
                  <select id="inputState" class="form-select e" name="role" [ngModel]="data.role" ngModel>
                    <option selected>Choose...</option>
                    <option>Admin</option>
                    <option>Donateur</option>
                    <option>Association</option>

                  </select>
                </div>
                <br>
                  <div class="p-t-10">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="closee()">Cancel</button>
                      <button type="submit" class="btn btn-primary">Save and change</button>
                    </div>
                  </div>
              </form>
          </div>

