
          <div class="modal-header"><h3 class="title">Add User </h3>
            <button type="button" class="btn-close" (click)="closee()"></button>
          </div>
          <div>
            <br>
              <form  #f="ngForm" (ngSubmit)="AddMethode(f)">

                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label e">Email</label>
                  <input type="email" class="form-control e" placeholder="email"  name="mail"  ngModel>
                </div><br>

                <div class="col-md-12">
                  <label for="inputPassword4" class="form-label e">Password</label>
                  <input type="password" class="form-control e" placeholder="password"  name="password"  ngModel>
                </div><br>
                <div class="col-md-12">
                  <label for="inputEmail4" class="form-label e">Phone</label>
                  <input type="email" class="form-control e" placeholder="phone"  name="phone"  ngModel>
                </div><br>

                <div class="col-md-12">
                  <label for="inputState" class="form-label e">Role</label>
                  <select id="inputState" class="form-select e" name="role"  ngModel>
                    <option selected>Choose...</option>
                    <option>Admin</option>
                    <option>Donateur</option>
                    <option>Association</option>

                  </select>
                </div>
                <br>
                  <div class="p-t-10">
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="closee()">Cancel</button>
                      <button type="submit" class="btn btn-primary">Save and Add</button>
                    </div>
                  </div>
              </form>
          </div>

